body {
    font-size: 15pt;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
} 
header, footer{
    background: green;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 5pt;

}

header img {
    width: 250px;
    height: auto;
    float: right;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

footer {
    text-align: center;
    font-size: 1rem
}
