body {
    grid-template-columns: auto 95% auto;
}

header h1 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    grid-template-columns: 1fr;
}

nav ul .toggler {
    display: block;
}

nav li.toggler a:hover {
    cursor: pointer;
}

nav ul li.hide~* a {
    padding: 0;
    height: 0;
}

.boxed {
    max-width: 100%;
}

.summary {
    display: none !important;
}
.hero-small, .hero-small h4{
    display: grid;
    grid-template-columns: 170px;
    position: sticky;
    background: #cdd0f3;
    color: black;
    padding: 10px;
    margin-top: 10px;
}
main.gallery {
    grid-template-columns: 1fr;
}

main.gallery picture:last-child {
    grid-column: span 1;
}