@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Yaldevi:wght@500&display=swap');

:root {
    --header-font: 'Yaldevi', sans-serif;
    --paragraph-font: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 100% auto;
}
main {
    padding: 1px 1em;
    background-color: #ffffff;
}

div.place-holder {
    padding: 1rem;
    background-color: #eee;
    border: dashed 1px #242424;
    margin-bottom: 20px;
    font-style: italic;
}

footer {
    box-shadow: 0 0 10px #242424;
    background-color: #090f62;
    font-family: var(--paragraph-font);
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 1rem;
}

footer a {
    color: #ffffff;
}
.hold-it-together-1,
.hold-it-together-2 {
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 4;
}

.hold-it-together-2 {
    grid-column: 3;
}

h1 {
    font-size: 2.8em;
    color: #ffffff;
    margin-bottom: 0.75rem;
}

h2 {
    font-size: 1.75em;
    color: #090f62;
}

h3 {
    font-size: 1.25em;
    color: #242424;
}

h4 {
    font-size: 1.1em;
    color: #242424;
}

h1,
h2,
h3,
h4,
th {
    font-family: var(--header-font);
}

p,
span,
div,
li,
td,
a {
    font-family: var(--paragraph-font);
}

header {
    padding: 1rem;
    text-align: center;
    background-color: #090f62;
}

header span {
    display: block;
    color: #dbebf1;
    padding-bottom: 1rem;
}

header img {
    width: 10rem;
    margin-top: -8rem;
    margin-right: 30rem;
    position: relative;
}


nav {
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-shadow: 0 0 10px #242424;
    list-style-type: none;
}

nav ul .toggler {
    display: none;
}

nav ul .toggler+li {
    grid-column: 1;
}

nav a {
    padding: 1em 0;
    display: block;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #ffffff;
    background-color: #242424;
    transition: padding .5s, height .5s;
    height: 18px;
}

nav a.at,
nav a:active {
    background-color: #202788;
}

nav a:hover {
    background-color: #0a0a0ab7;
}