@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Yaldevi:wght@500&display=swap');

:root {
    --header-font: 'Yaldevi', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    color: rgb(207, 217, 223);
}

h1 {
    color: green
}

header,
footer {
    text-align: center;
    padding-top: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 1em;
    background-color: #b8b4b9;
    justify-items: center;
}

.cards section {
    text-align: center;
    padding: 1em;
    background-color: #1a3d55;
    max-width: 300px;
}

.cards section * {
    display: block;
    margin: 0 auto;
    padding: 0.25rem;
}

.cards section img {
    width: 100%;
}

@media screen and (max-width: 1280px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 668px) {
    body {
        margin: 0;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}