input,
button,
select,
textarea {
	padding: 0.5rem;
	margin-bottom: .25rem;
}

label {
	font-size: .7rem;
	font-weight: 700;
	width: 200px;
}

input:focus {
	box-shadow: 0 0 10px #bbb;
}
fieldset {
	background-color: #eee;
	border: 1px solid #ccc;
}

legend {
	font-family: Arial, sans-serif;
	font-size: .6rem;
}
.nestedfieldset {
	background-color: #fff;
	margin-bottom: 2rem;
}

label {
	display: block;
}

input[type="button"] {
	color: blue;
}
input[type="button"]:hover {
	background-color: #ddf;
}

input:invalid {
	background-color: #fdd;
	color: #000;
}
input:valid {
	background-color: #dfd;
	color: #000;
}

.flexly {
	display: flex;
	align-items: center;
}

input[type="radio"], input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin-right: 1rem;
}

.selection {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

#ratingvalue {
	margin: 0 15px;
	color: #2075ff;
}

#selected {
	position: absolute;
	top: 550px;
	left: 300px;
	border: 1px solid #999;
	background-color: #abe;
	padding: 10px;
	font-weight: 700;
	display: none;
}

.bottom {
	display: flex;
	align-content: bottom;
}

.sbutton {
	margin: .1rem;
	background-color: #abe;
	font-weight: 700;
	border: 1px solid #777;
	box-shadow: 0 0 7px #777;
}