body {
    grid-template-columns: auto 95% auto;
}

header h1 {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    grid-template-columns: 1fr;
}
nav ul .toggler {
    display: block;
}

nav li.toggler a:hover {
    cursor: pointer;
}
nav ul li.hide ~ * a {
    padding: 0;
    height: 0;
}
.boxed {
    max-width: 100%;
  }

table{
    width: 5px;
}
.events section{
    width: 300px;
}
div.hero section {
    position: unset;
    bottom: unset;
    width: unset;
}
.forecast{
    margin-top: unset;
}
section.contact-info {
    margin-bottom: 0;
    font-size:2.1vw;
}