@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Yaldevi:wght@500&display=swap');

:root {
    --header-font: 'Yaldevi', sans-serif;
    --paragraph-font: 'Roboto Mono', monospace;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: auto 100% auto;
}

main {
    padding: 1px 1em;
    background-color: #ffffff;
}

div.place-holder {
    padding: 1rem;
    background-color: #eee;
    border: dashed 1px #242424;
    margin-bottom: 20px;
    font-style: italic;
}

footer {
    box-shadow: 0 0 10px #242424;
    background-color: #090f62;
    font-family: var(--paragraph-font);
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #ffffff;
}

.hold-it-together-1,
.hold-it-together-2 {
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 4;
}

.hold-it-together-2 {
    grid-column: 3;
}

h1 {
    font-size: 2.8em;
    color: #ffffff;
    margin-bottom: 0.75rem;
}

h2 {
    font-size: 1.75em;
    color: #090f62;
    text-align: center;
    
}

h3 {
    font-size: 1.25em;
    color: #242424;
}

h4 {
    font-size: 1.1em;
    color: #242424;
}

h1,
h2,
h3,
h4,
th {
    font-family: var(--header-font);
}

p,
span,
div,
li,
td,
a {
    font-family: var(--paragraph-font);
}

header {
    padding: 1rem;
    text-align: center;
    background-color: #090f62;
}

header span {
    display: block;
    color: #dbebf1;
    padding-bottom: 1rem;
}

header img {
    width: 10rem;
    margin-top: -8rem;
    margin-right: 30rem;
    position: relative;
}


nav {
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    box-shadow: 0 0 10px #242424;
    list-style-type: none;
}

nav ul .toggler {
    display: none;
}

nav a {
    padding: 1em 0;
    display: block;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #ffffff;
    background-color: #242424;
    height: 18px;
}

nav a.at,
nav a:active {
    background-color: #202788;
}

nav a:hover {
    background-color: #0a0a0ab7;
}

.summary {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.summary h4 {
    grid-column: span 2;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff
}

.summary span {
    grid-column: span 2;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: white;
}

div.hero {
    z-index: 1;
    position: relative;
    overflow: hidden;

  }

div.hero section {
    bottom: 40rem;
    width: 15rem;
    position: sticky;
    background: rgba(41, 40, 40, 0.3);
    padding: 20px;
}

div.hero section h4 {
    margin-top: 0.5rem;
}
.forecast{
    margin-top: -150px;
}
.five-day {
    margin: auto;
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-table;
    margin-left: -1.5rem;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: var(--header-font);
    font-size: 17px;
    padding: 15px 10px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: var(--header-font);
    font-size: 20px;
    font-weight: bold;
    padding: 20px 35px;
    word-break: normal;
    background-color: #202788;
    color: white;
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: top;
    word-break: keep-all;
    white-space: nowrap;
}

section.article {
    background-color: #cdd0f3;
    margin: 0 auto;
    padding: 1rem;
    margin-top: 35px;
    margin-bottom: 35px;
    max-width: 1100px;
}

section.article .img-holder {
    float: right;
    width: 50%;
    max-width: 300px;
    position: relative;
}

.img-holder img {
    width: 100%;
}

section.article h3 {
    margin-top: 0.5rem;
}

section.article p {
    padding-left: 10px;
}

section.article h2 {
    text-align: center;
}

section.contact-info {
    display: grid;
    background-color: #242424;
    grid-template-columns: 52% auto;
    position: relative;
    left: -1rem;
    width: 100%;
    padding: 1rem;
}

section.contact-info iframe {
    width: 90%;
    height: 200px;
    grid-column: 1;
    grid-row: span 3;
    border: 0;
}

section.contact-info h3,
section.contact-info ul {
    margin-top: 0;
    color: #ffffff;
}

section.contact-info ul {
    margin-bottom: 0;
}

section.contact-info li {
    padding-top: 3px;
}

section.contact-info div.social-links {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 50px);
    justify-items: center;
    align-items: flex-start;
}

.fa {
    padding: 1rem;
    max-width: 2rem;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 1rem;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 1rem;
}

.fa-google {
    background: #dd4b39;
    color: white;
    padding: 1rem;
}

#banner {
    display: none;
    border: double;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 1rem;
    background-image: url('../images/pancakes.jpg');
    background-position: 40% 20%;
    background-color: black;
}

#banner i:last-child:hover {
    color: #000000;
    cursor: pointer;
}

.boxed {
    background-color: #202788;
    opacity: .95;
    padding: 1rem;
    max-width: 40%;
    color: white;
}

.hero-small {
    display: none;
}

div.hero picture,
div.hero picture img {
    width: 100%;
}

.events {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding: 1rem;
    justify-items: center;
}
.events button{
    grid-column: 2;
    border-bottom:2px solid black;
    margin: 20px;
}
.events section {
    text-align: center;
    padding: 1rem;
    border: dotted 2px #0fc54b;
    background-color: #cdd0f3;
    max-width: 700px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.events section * {
    display: block;
    margin: 0 auto;
    padding: 0.25rem;
}


button {
    font-weight: 600;
    border: solid 2px black;
    outline: 0;
    padding: 1rem 4rem;
    font-size: 1.5rem;
    letter-spacing: 0.08rem;
    background-color: white;
    border-radius: 0.35rem;
    position: relative;
    cursor: pointer;
}
button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
    z-index: -1;
    border-radius: 0.35rem;
    border: solid 2px black;
    transition: all 0.3s ease-in-out;
}
button.style-1::after {
    width: 90%;
    height: 90%;
}
button.style-1:hover::after {
    width: 100%;
    height: 100%;
    top: 0.5rem;
    left: 0.5rem;
}
